<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197538369507-bjs3tvogfl50lv665qrporok8ice2jem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197538369507-bjs3tvogfl50lv665qrporok8ice2jem</string>
	<key>API_KEY</key>
	<string>AIzaSyBKKFFVSLyU0MXEd1YJ3IpUNwkkUF-PbFY</string>
	<key>GCM_SENDER_ID</key>
	<string>197538369507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.wustl.XiaowenMa.XiaowenMa-Lab4</string>
	<key>PROJECT_ID</key>
	<string>xiaowenma-moviesearch</string>
	<key>STORAGE_BUCKET</key>
	<string>xiaowenma-moviesearch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197538369507:ios:660a435856528861d8dad6</string>
	<key>DATABASE_URL</key>
	<string>https://xiaowenma-moviesearch.firebaseio.com</string>
</dict>
</plist>